<!-- {% extends 'layout.html' %}

{% block title %}Login{% endblock %}
from django.contrib.auth.forms import UserCreationForm

{% block content %}
  <!-- <h2>Registerform</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <a href="{%url 'login' %}">register</a>
  </form> -->
 

<!-- def register(request):
    if request.method == 'POST':
        form = UserCreationForm(request.POST)

        if form.is_valid():
            form.save()
            return redirect('login')

    else:
        form = UserCreationForm()

    return render(request, 'registration/register.html', {'form': form})
  
{% endblock %} --> 
